<form #miForm="ngForm">
  <div>
    <label for="customer_id">Código</label>
    <input type="number" [class.is-invalid]="customer_id.invalid" id="customer_id" name="customer_id" [(ngModel)]="vm.Elemento.customer_id" #customer_id="ngModel" placeholder="Código del usuario" required min= '0'>
    <!-- <app-show-errors-messages [errors]="customer_id.errors"></app-show-errors-messages> -->
    <output class="invalid-feedback" [myErrors]="customer_id.errors"></output>
  </div>
  <div>
    <label for="store_id">Tienda</label>
    <select id="store_id" name="store_id">
        <option value="1">Tienda 1</option>
        <option value="2">Tienda 2</option>
    </select>
  </div>
  <div>
    <label for="first_name">Nombre</label>
    <input type="text" [class.is-invalid]="first_name.invalid" id="first_name" name="first_name" [(ngModel)]="vm.Elemento.first_name" #first_name="ngModel" required minlength="2"
        maxlength="50" data-label="Nombre">
    <!-- <app-show-errors-messages [errors]="first_name.errors"></app-show-errors-messages> -->
    <output class="invalid-feedback" [myErrors]="first_name.errors"></output>

  </div>
  <div>
    <label for="last_name">Apellidos</label>
    <input type="text" [class.is-invalid]="last_name.invalid"  id="last_name" name="last_name" [(ngModel)]="vm.Elemento.last_name" #last_name="ngModel" minlength="2" maxlength="50">
    <!-- <app-show-errors-messages [errors]="last_name.errors"></app-show-errors-messages> -->
    <output class="invalid-feedback" [myErrors]="last_name.errors"></output>

  </div>
  <div>
    <label for="email">Correo</label>
    <input type="email" [class.is-invalid]="email.invalid" id="email" name="email" [(ngModel)]="vm.Elemento.email" #email="ngModel" required email>
    <!-- <app-show-errors-messages [errors]="email.errors"></app-show-errors-messages> -->
    <output class="invalid-feedback" [myErrors]="email.errors"></output>
  </div>
  <div>
    <label for="address_id">Dirección</label>
      <input type="radio" id="address_id" name="address_id" checked value="1">
      Casa
      <input type="radio" name="address_id" value="2">
      Trabajo
  </div>
  <div>
    <label for="active">Activo</label>
    <input type="checkbox" id="active" name="active" [(ngModel)]="vm.Elemento.active" #active="ngModel" value="true" checked>
  </div>
  <div>
    <label for="create_date">F. Creación</label>
    <input type="date"  id="create_date" name="create_date" [(ngModel)]="vm.Elemento.create_date">
    <!-- <app-show-errors-messages [errors]="create_date.errors"></app-show-errors-messages> -->
  </div>
  <div>
    <label for="last_update">Última modificacion</label>
   <input type="date" id="last_update" name="last_update" [(ngModel)]="vm.Elemento.last_update">
   <!-- <app-show-errors-messages [errors]="last_update.errors"></app-show-errors-messages> -->
  </div>

<app-form-buttons (send)="vm.send()" (cancel)="vm.cancel()"></app-form-buttons>

</form>
