<h1>Calculadora</h1>
		<div class="calculadora">
      <output class="pantalla" >{{miPantalla}}</output>
      <button class="otros" (click)="borraPantalla()">C</button>
      <button class="otros" (click)="borrarTodo()">CE</button>
      <button class="operador" (click)="borrar()">Borrar</button>
      <button class="operador"(click)="calcular('/')">/</button>
      <button class="numeros" (click)="ponerdigito('7')">7</button>
      <button class="numeros" (click)="ponerdigito('8')">8</button>
      <button class="numeros" (click)="ponerdigito('9')">9</button>
      <button class="operador" (click)="calcular('*')">X</button>
      <button class="numeros" (click)="ponerdigito('4')">4</button>
      <button class="numeros" (click)="ponerdigito('5')">5</button>
      <button class="numeros" (click)="ponerdigito('6')">6</button>
      <button class="operador" (click)="calcular('-')">-</button>
      <button class="numeros" (click)="ponerdigito('1')">1</button>
      <button class="numeros" (click)="ponerdigito('2')">2</button>
      <button class="numeros" (click)="ponerdigito('3')">3</button>
      <button class="operador" (click)="calcular('+')">+</button>
      <button class="otros" (click)="cambiaSigno()">+/-</button>
      <button class="numeros" (click)="ponerdigito('0')">0</button>
      <button class="otros" (click)="ponComa()">,</button>
      <button class="btn_eq" (click)="calcular('=')">=</button>
		</div>
