<h1>{{ VM.Elemento.titulo }}</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-6 col-md-8">
          <i class="fas fa-pen-fancy mr-2"></i> {{ VM.Elemento.autor }}
          <br />
          <i class="fas fa-globe-europe mr-2"></i> {{ VM.Elemento.pais }}
          <br />
          <i class="fas fa-calendar-alt mr-2"></i> {{ VM.Elemento.fecha }}
          <br />
          <i class="fas fa-file-alt mr-2"></i> {{ VM.Elemento.paginas }}
          <br />
          <a class="fas fa-globe" href="{{VM.Elemento.wiki}}"> {{VM.Elemento.wiki}} </a>
          <br />
          <input
            class="btn btn-secondary"
            type="button"
            value="Volver"
            (click)="VM.cancel()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
