<h1>Libros</h1>
<form #miForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="form-label" for="id">Código:</label>
      <input class="form-control" [class.is-invalid]="id.invalid && miForm.dirty" type="number" name="id" id="id"
        [(ngModel)]="VM.Elemento.id" #id="ngModel" required min="0">
      <output class="invalid-feedback" [myErrors]="id.errors"></output>
    </div>
    <div class="form-group col-md-2">
      <label class="form-label" for="titulo">Título:</label>
      <input class="form-control" name="titulo" id="titulo" [(ngModel)]="VM.Elemento.titulo"
        #titulo="ngModel">
      <output class="invalid-feedback" [myErrors]="titulo.errors"></output>
      </div>
   </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="form-label" for="autor">Autor:</label>
       <input class="form-control" [class.is-invalid]="autor.invalid" type="text" name="autor" id="autor"
        [(ngModel)]="VM.Elemento.autor" #autor="ngModel" minlength="2" maxlength="50">
      <output class="invalid-feedback" [myErrors]="autor.errors"></output>
    </div>
    <div class="form-group col-md-4">
      <label class="form-label" for="pais">Pais:</label>
      <input class="form-control" [class.is-invalid]="pais.invalid" type="text" name="pais" id="pais"
        [(ngModel)]="VM.Elemento.pais" #pais="ngModel" minlength="2" maxlength="30">
        <output class="invalid-feedback" [myErrors]="pais.errors"></output>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="form-label" for="fecha">Fecha:</label>
      <input class="form-control" [class.is-invalid]="fecha.invalid" type="number" name="fecha" id="fecha"
        [(ngModel)]="VM.Elemento.fecha" #fecha="ngModel"  max="2021">
      <output class="invalid-feedback" [myErrors]="fecha.errors"></output>
    </div>
    <div class="form-group col-md-4">
      <label class="form-label" for="paginas">Páginas:</label>
      <input class="form-control" [class.is-invalid]="paginas.invalid" type="number" name="paginas" id="paginas"
        [(ngModel)]="VM.Elemento.paginas" #paginas="ngModel" >
      <output class="invalid-feedback" [myErrors]="paginas.errors"></output>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-md-12">
      <label class="form-label" for="wiki">Wiki:</label>
      <input class="form-control" [class.is-invalid]="wiki.invalid" type="url" name="wiki" id="wiki"
        [(ngModel)]="VM.Elemento.wiki" #wiki="ngModel" maxlength="500">
      <output class="invalid-feedback" [myErrors]="wiki.errors"></output>
    </div>
  </div>
  
  <div class="form-group">
    <input
      type="button"
      class="btn btn-success"
      value="Enviar"
      (click)="VM.send()"
      [disabled]="miForm.invalid"
    />
    <input
      type="button"
      class="btn btn-info"
      value="Volver"
      (click)="VM.cancel()"
    />
  </div>
</form>
