<header class="py-5 bg-light border-bottom mb-4">
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bolder">Bienvenido a mi Blog</h1>
      <p class="lead mb-0">
        Un proyecto de Angular12 realizado por Pablo Pareja
      </p>
    </div>
  </div>
</header>
<div
  *ngFor="
    let item of VM.Listado | paginate: { itemsPerPage: 5, currentPage: page }
  "
>
  <div class="row">
    <div class="col-lg-6">
      <!-- Blog post-->
      <div class="card mb-4">
        <img
          class="card-img-top"
          src="{{ item.fotourl }}"
          alt="Imagen de {{ item.titulo }}"
          width="auto"
          height="auto"
        />
        <div class="card-body">
          <div class="small text-muted">
            {{ item.fecha }}
            <i class="fas fa-pen-fancy"></i>{{ item.autor }}
          </div>
          <h2
            class="card-title h4"
            routerLink="{{ item.id }}/{{ item.titulo }}"
          >
            {{ item.titulo }}
          </h2>
          <p class="card-text">{{ item.texto | elipsis:55}}</p>
          <a class="btn btn-primary" href="#!" [routerLink]="[item.id, 'view']"
            >Leer más</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <p-paginator [first]="VM.rowsPerPage*VM.page" [rows]="VM.rowsPerPage" [totalRecords]="VM.totalRows"
    [pageLinkSize]="5" (onPageChange)="VM.load($event.page)"></p-paginator> -->
<pagination-controls
  (pageChange)="page = $event"
  [responsive]="true"
  previousLabel="Anterior"
  nextLabel="Siguiente"
>
</pagination-controls>
