<div class="outer-container">
  <div class="inner-container">
    <div class="img-view mb-auto flex-auto">
      <img
        src="{{ VM.Elemento.fotourl }}"
        alt="Imagen de {{ VM.Elemento.titulo }}"
        class="flex-auto"
      />
    </div>
    <div class="info-item">
      <div class="small text-muted right">
        {{ VM.Elemento.fecha | date: "dd/MM/yyyy" }}
        <i class="fas fa-pen-fancy"></i>{{ VM.Elemento.autor }}
      </div>
      <h2 class="headline-view">
        {{ VM.Elemento.titulo }}
      </h2>
      <div class="text-view">{{ VM.Elemento.texto }}</div>
      <input
        class="btn btn-secondary"
        type="button"
        value="Volver"
        (click)="VM.cancel()"
      />
    </div>
  </div>
</div>
