<h1>Listado de Peliculas <input *ngIf="VM.auth.isAutenticated" class="fas fa-plus" type="button" value="Añadir" routerLink="add"></h1>
<div class="row mb-2">
  <div class="col-md-6" *ngFor="let item of VM.Listado | paginate: { itemsPerPage: 6, currentPage: page }">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <div class="btn-group" role="group">
          <button *ngIf="VM.auth.isAutenticated" class="btn btn-success" [routerLink]="[item.filmid, 'edit']">
            <i class="fas fa-pen"></i>
          </button>
          <button *ngIf="VM.auth.isAutenticated" class="btn btn-danger" (click)="VM.delete(item.filmid)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <img class="rounded-circle float-left" src="assets/logopeli.png" alt="Foto de {{ item.title }}" width="75" height="75"/>
        <h4 class="mb-0">
          <a class="text-dark" [routerLink]="['/peliculas', item.filmid]">{{item.title}}</a>
        </h4>
        <div class="mb-1 text-muted">{{item.release_year | date:'MMM yyyy'}}</div>
        <div class="mb-1 text-muted">{{item.last_update | date:'MMM yyyy'}}</div>
        <h4>
          {{ item.rating }}
        </h4>
        <h5>{{ item.rental_duration }} {{ item.length }}</h5>
        <p>{{ item.rental_rate }}{{ item.replacement_cost }}</p>
        <p>{{ item.language_id }}{{ item.original_language_id }}</p>
        <p>{{ item.filmActors }}{{ item.filmCategories }}</p>
        <p class="card-text mb-auto">{{item.description | elipsis:100}}</p>
        <a [routerLink]="['/peliculas', item.filmid]">Leer mas</a>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>
