<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-6 col-md-12">
          <h2>{{ VM.Elemento.title }}</h2>
        </div>
        <div class="col-sm-6 col-md-12">
          <div>
            <b>Año de estreno: </b
            >{{ VM.Elemento.release_year }}
          </div>
          <div><b>Duración: </b> {{ VM.Elemento.length }}'</div>
          <div><b>Clasificación </b>{{ VM.Elemento.rating }}</div>
          <div><b>Duración del alquiler </b>{{ VM.Elemento.rental_duration }}</div>
          <div><b>Calificación </b>{{ VM.Elemento.rental_rate }}</div>
          <div><b>Precio </b>{{ VM.Elemento.rep_cost }}</div>
          <div class="card-text mb-auto">
            {{ VM.Elemento.description | elipsis: 200 }}
          </div>
          <br />
          <div class="btn-group">
            <input
              class="btn btn-secondary"
              type="button"
              value="Volver"
              (click)="VM.cancel()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
