<div>
  <input type="button" value="add" (click)="vm.add()">
  <input type="button" value="edit" (click)="vm.edit()">
</div>
<form #miForm="ngForm">
  <div>
    <label for="id">Código</label>
    <input type="number" id="id" name="id" [(ngModel)]="vm.Elemento.id" #id="ngModel" required min="0">
    <output class="error" [hidden]="!id.hasError('required') || miForm.pristine">Es obligatorio</output>
  </div>
  <div>
    <label for="nombre">nombre</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="vm.Elemento.nombre" #nombre="ngModel" required minlength="2" maxlength="10">
    <output class="error" [hidden]="!nombre.errors?.required"></output>
  </div>
  <div>
    <label for="apellidos">Apeliidos</label>
    <input type="text" id="apellidos" name="apellidos" [(ngModel)]="vm.Elemento.apellidos" #apellidos="ngModel" minlength="2" maxlength="10">
  </div>
  <div>
    <label for="correo">Correo</label>
    <input type="email" id="correo" name="correo" [(ngModel)]="vm.Elemento.correo" #correo="ngModel" maxlength="100" email>
  </div>
  <div>
    <label for="edad">Edad</label>
    <input type="number" id="edad" name="edad" [(ngModel)]="vm.Elemento.edad" #edad="ngModel" min="16" max="67">
  </div>
  <div>
    <label for="dni">DNI</label>
    <input type="text" id="dni" name="dni" [(ngModel)]="vm.Elemento.dni" #dni="ngModel">
  </div>

  <div>
    <input type="button" value="enviar" (click)="vm.send()">
    <input type="button" value="volver" (click)="vm.cancel()">
  </div>
</form>
